h1 {
  margin: 0;
  padding: 20px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

ol {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.App {
  text-align: center;
  background-color: #ffcd39;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: cursive;
}

.customStyles {
  width: 600px;
  height: 400px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.wrapper {
  padding-top: 30px;
}

.navigation {
  font-size: 22px;
}

.inputField {
  box-shadow: 5px 5px 5px #409292;
  border-radius: 6px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid teal;
  margin-right: 11px;
  outline: none;
  font-family: cursive;
}

.button {
  cursor: pointer;
  border-radius: 6px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid teal;
  box-shadow: 5px 5px 5px #409292;
  background-color: white;
  font-family: cursive;
}

.dishButton {
  border: none;
  box-shadow: none;
  margin-bottom: 15px;
  box-shadow: 3px 3px 5px 1px #409292;
}

.recipeTitle {
  padding: 0 15px;
}

.recipeImg {
  width: 100%;
  margin-bottom: 15px;
}

.recipeImgDetail {
  width: 400px;
  border-radius: 5%;
}

.recipeList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding: 0;
}

.recipeDetailBox {
  margin: 0 10vw;
}

.recipeBlock {
  text-align: center;
  min-height: 500px;
  width: 400px;
  margin: 20px;
  border-radius: 5%;

  background-color: #0080805e;
  background-color: #fafafa;
  box-shadow: 0px 0px 10px 10px #e0e0e0;
  box-shadow: 10px 10px 10px #409292;

  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.goBackButton {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px 0 0 20px;
  width: 94px;
}

.recipeBox {
  display: flex;
  text-align: left;
  flex-direction: column;
  align-items: center;
}

.ingredientsBox {
  text-align: center;
  margin-bottom: 50px;
}

.ingredientsList {
  text-align: left;
}

.mealPlannerBlock {
  margin: 0 10px;
  background-color: #ffcd39;
}

.mealBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mealPlan {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr repeat(8, 1fr);
  width: 100%;
}

.cell {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.headerCell {
  font-weight: bold;
  background-color: #eee;
  min-width: 98px;
}

.headerCell:first-child {
  min-width: 60px;
}

.day {
  font-weight: bold;
  background-color: #f5f5f5;
}

.meal {
  cursor: pointer;
  background-color: #fafafa;
  color: teal;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.meal:hover {
  background-color: #e0e0e0;
}

.modalBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.modalButton {
  margin-left: auto;
  margin-bottom: auto;
}

.modalTitle {
  margin-top: -35px;
  margin-bottom: 0;
}

.shoppingList {
  text-align: justify;
  margin-bottom: 40px;
}


@media screen and (max-width: 768px) {

  h1 {
    padding: 10px;
  }

  h2 {
    font-size: 16px;
    margin: 20px 10px;
  }

  ul {
    padding: 0;
  }

  .wrapper {
    padding-top: 10px;
  }

  .navigation {
    font-size: 18px;
  }

  .inputField {
    padding: 7px;
    font-size: 14px;
    width: 180px;
    margin-right: 6px;
  }

  .button {
    padding: 7px;
    font-size: 14px;
  }

  .indentation {
    margin: 0 20px;
    font-size: 14px;
  }

  .textExp {
    margin-bottom: 30px;
  }

  .mealPlan {
    grid-template-columns: 0.4fr 1fr 1fr 1fr;
  }

  .recipeBlock {
    min-height: 200px;
    width: 200px;
    margin: 5px;
  }

  .modalContent {
    max-width: 300px;
  }

  .modalTitle {
    width: 250px;
  }

  .recipeImgDetail {
    width: 280px;
  }
}